<div class="alarms-main-container">
  <div class="alarms-header">
    <h2>Mis Alarmas</h2>
  </div>
  <div class="alarms-container">
    <div class="alarm-item">
      <input class="form-check-input checkbox" type="checkbox" value="" id="checkbox">
      <div class="alarm-details">
        <span class="time">09:00 AM - Desayunar</span>
        <span class="repeat">una vez</span>
      </div>
    </div>
    <div class="alarm-item">
      <input class="form-check-input checkbox" type="checkbox" value="" id="checkbox">
      <div class="alarm-details">
        <span class="time">05:00 PM - Clases de mate</span>
        <span class="repeat">todos los miércoles</span>
      </div>
    </div>
    <div class="alarm-item">
      <input class="form-check-input checkbox" type="checkbox" value="" id="checkbox">
      <div class="alarm-details">
        <span class="time">06:00 PM - Ir de compras</span>
        <span class="repeat">cada domingo</span>
      </div>
    </div>
    <div class="alarm-item">
      <input class="form-check-input checkbox" type="checkbox" value="" id="checkbox">
      <div class="alarm-details">
        <span class="time">08:00 PM - Medicamentos</span>
        <span class="repeat">cada 08 horas</span>
      </div>
    </div>
  </div>
  <div class="share-button-container">
    <button class="share-button" (click)="navigateToShare()">
      COMPARTIR
    </button>
  </div>  
</div>