.sync-calendar-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: auto;
}

.sync-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sync-calendar-header .import-button {
    display: block;
    max-width: 200px;
    width: 100%;
    height: 42px;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    background: #E85B81;
    border: 3px solid #E85B81;
    padding: 10px 20px;
    cursor: pointer;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.demo-inline-calendar-card {
    max-width: 500px;
    width: 100%;
    height: auto;
}

::ng-deep .mat-calendar-body-selected {
    background-color: #45539D !important;
    color: white !important;
}